@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap);

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: dark;
  color: #fff;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-colour: #242424;
  --secondary-colour: #00E0FF;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.logo {
  width: 10rem;
  margin: .5rem;
}

.gradient-text {
  background: -webkit-linear-gradient(#eee, var(--secondary-colour));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@tailwind base;
@tailwind components;
@tailwind utilities;