.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.blue-gradient {
    background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #00509b 80%);
    filter: blur(123px);
}

.pink-gradient {
    background: linear-gradient(90deg, #f4c4f3 0%, #ca1dff 100%);
    filter: blur(800px);
}

.white-gradient {
    background: rgba(255, 255, 255, .2);
    filter: blur(750px);
}